@import url(/themes/xartropics/style/verticalmenu.css);

div#header {
    min-height: 35px;
    _height: 35px;
    background: #7dd1f0 url(/themes/xartropics/images/admin/header_bg.png) repeat-x scroll bottom left;
}
div#header_logo {
    _height: 35px;
	min-height: 35px;
    background: transparent url(/themes/xartropics/images/admin/logo.png) no-repeat scroll bottom left;
	position: relative;
}
div#header_content_wrap {
    margin: 0 10px 0 20px;
    padding-top: 35px;
    width: auto;
}
a#head_link {
    display: block;
    width: 186px;
    height: 35px;
    float: left;
    text-indent: -512pt;
	position: absolute;
	top: 0px;
	left: 20px;
}
div#navbar {
	clear: both;
    height: 60px;
    background: transparent url(/themes/xartropics/images/admin/navbar-lead.png) no-repeat scroll center left;
}
div#navbar_inner {
	margin: 0 0 0 35px;
    background: transparent url(/themes/xartropics/images/admin/navbar-bg.png) no-repeat scroll center right;
    height: 60px;
}
div#contentwrap {
	margin: 0 22px 0 20px;
}
div.xar-block-body-adminheader {
	height: 100px;
	margin-left: 6em;
}
ul#navbar_core li {
	width: auto;
}
li#waiting_item p {
	margin-top: 0;
	margin-bottom: 0;
}
li#waiting_item a {
	margin-top: 0;
	display: inline;
}
li#waiting_item div ul li div {
	display: block;
	position: static;
	padding: 0;
}