/* XARAYA REQUIRED CLASSES */
body { 
  	background-color: #FFF;
    background-image: url(/themes/diner-casual/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-size:12px;
	font-family : Arial, Helvetica, sans-serif;
}

a:hover {
	color: #D4A500; 
	text-decoration: overline underline;
}
a {
	color: #D4A500;
	text-decoration: none;
}

.pagelogo {
   color: #999999;
   font-size:12px;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   background-color: #fff;
}

.basebottom {
	background: #fff;
	position: absolute;
	left: 466px;
	top: 140px;
}

.online {
	background: #e6e6e6;
	position: absolute;
	left: 20px;
	top: 95px;
}

#main {
	margin-top: 230px;
	margin-left: 100px;
	margin-bottom: 30px;
	width: 70%;
	border:1px dashed #D4A500; 
	background:transparent;
	padding-left: 20px;
	padding-right: 20px;
}

#logoelements {
	background: #fff;
}

/* Menu */

.xar-menu-section {
   color: #ffffff;
   font-size: 11pt;
   font-weight: bold;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   border-bottom: thin dotted #a0a0a0;
   line-height: 170%;
   width: 100%;
   margin-top: 4px;
   margin-bottom: 4px;
}

.xar-menu-item {
   color: #ffffff;
   font-size: 9pt;
   font-weight: bold;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   padding-left: .5em;
}

.xar-menu-subitem {
   color: #ffffff;
   font-size: 7pt;
   font-weight: bold;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   margin-left: 6px;
   padding-left: 0px;
}

/* xaraya */

h1 {
   color: #D4A500;
   font-size: 14pt;
   font-weight: bolder;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}
h2 {
   color: #D4A500;
   font-size: 12.5pt;
   font-weight: bolder;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   border-bottom: 1px solid #191970;
   line-height: 170%;
}
h3 {
   color: #D4A500;
   font-size: 11pt;
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   line-height: 100%;
}
h4 {
   color: #D4A500;
   font-size: 11pt;
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   border-bottom: 1px solid #191970;
   line-height: 170%;
}
th {
   color: #D4A500;
   font-size: 11pt;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-weight: bolder;
   background-color:#f3f3f3;
}
td {
   color: #000000;
   font-size: 9.5pt;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}
table {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
thead {}
tbody {}
tfoot {
   color: #000000;
   font-size: 11pt;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-weight: bolder;
   background-color:#cdd5f8;
}
p {
   color: #000000;
   font-size: 9.5pt;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}
pre {
   color: #D4A500;
   font-size: 9.5pt;
   font-family: Courier,fixed-width;
}
input {
   background-color: #F7F2CA;
   border-bottom-width: 1px;
   border-color: #000000;
   border-left-width: 1px;
   border-right-width: 1px;
   border-top-width: 1px;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
   font-weight: normal;
   text-indent: 2px;
   color: #191970;
}
button {
   border: 2px outset #F7F2CA;
   background-color: #cdd5f8;
   color: #191970;
   font-size: 9.5pt;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

select {
   background-color: #F7F2CA;
   border-bottom-width: 1px;
   border-color: #000000;
   border-left-width: 1px;
   border-right-width: 1px;
   border-top-width: 1px;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
   font-weight: normal;
   color: #191970;
}
textarea {
   background-color: #F7F2CA;
   border-bottom-width: 1px;
   border-color: #000000;
   border-left-width: 1px;
   border-right-width: 1px;
   border-top-width: 1px;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
   font-weight: normal;
   text-indent: 0px;
   color: #191970;
}
img {
   border: 0px;
}
li {
   color: #000000;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   line-height: 150%;
   margin-bottom: 10px;
}
ul {
   color: #000000;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   line-height: 150%;
   margin-bottom: 10px;
}
ol {
   color: #000000;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   line-height: 150%;
   margin-bottom: 10px;
}
sup {
   font-size: 6.5pt;
}
sub {
   font-size: 6.5pt;
}


/*  THEME SPECIFIC CLASSES */
h5, h6 {
   color: #191970;
   font-size: 11pt;
   font-weight: bold;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}
hr {
   width:100%;
   color:#c0c0c0;
}
form {
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
}
checkbox {
   background-color: transparent;
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size: 9.5pt;
   font-weight: normal;
}

/*  XARAYA REQUIRED INDIVIDUAL CLASSES */
td.xar-norm {}
td.xar-alt {}