/* updated 71 Sep 2010 */

/* begin styles from pages/default.xt template */
#siteFooter {
	clear: both;
	background: #000;
	color: #fff;
	margin: 0;
	padding: 3px 0;
	text-align: center;
	font-size: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    }
#siteFooter a:link, #siteFooter a:visited {
	color: orange;
    }
#siteFooter a:active, #siteFooter a:hover {
	color: green;
    }
/* end styles from pages/default.xt template */

/* begin styles from includes/footer-blocks.xt template */
#leftFooterBlockSize {
	width: 34%; 
	height: 200px; 
	float: left; 
	text-align: left; 
	background: #222;
    }

#middleFooterBlockSize {
	width: 32%; 
	height: 200px; 
	background: #444; 
	float: left; 
	text-align: left; 
	padding: 0; 
	margin: 0;
    }
    
#rightFooterBlockSize {
	width: 34%; 
	height: 200px; 
	background: #666; 
	float: right; 
	text-align: left;
    }    
    
.footerBlocksCusion {
	padding: 0; 
	margin: 0;
    }    
/* end styles from includes/footer-blocks.xt template */   
