div#header {
    _height: 172px;
	min-height: 172px;
    background: #7dd1f0 url(/themes/xartropics/images/home/header_bg.png) repeat-x scroll bottom left;
}
div#header_logo {
    _height: 172px;
	min-height: 172px;
    background: transparent url(/themes/xartropics/images/home/logo.png) no-repeat scroll bottom left;
	position: relative;
}
div#header_content_wrap {
    margin: 0 20px 0px 220px;
    padding: 42px 0 10px 0;
	_zoom: 1;
}
div#header_content {
/*    height: 130px; */
    background: #fff url(/themes/xartropics/images/home/head_bg.png) repeat-x scroll bottom left;
}
div#header_tlcorner {
    height: 10px;
    font-size: 0;
    background: transparent url(/themes/xartropics/images/home/header-box.gif) no-repeat scroll top left;
}
div#header_trcorner {
    height: 10px;
    margin-left: 50%;
    font-size: 0;
    background: transparent url(/themes/xartropics/images/home/header-box.gif) no-repeat scroll top right;
}
div#header_blcorner {
    height: 10px;
    font-size: 0;
    background: transparent url(/themes/xartropics/images/home/header-box.gif) no-repeat scroll bottom left;
	clear: both;
}       
div#header_brcorner {
    height: 10px;
    margin-left: 50%;
    font-size: 0;
    background: transparent url(/themes/xartropics/images/home/header-box.gif) no-repeat scroll bottom right;
}
a#head_link {
    display: block;
    width: 182px;
    height: 150px;
    text-indent: -512pt;
	position: absolute;
	bottom: 8px;
	left: 17px;
}
div#navbar {
	clear: both;
    height: 60px;
    background: transparent url(/themes/xartropics/images/home/navbar-lead.png) no-repeat scroll center left;
}
div#navbar_inner {
	margin: 0 0 0 235px;
    background: transparent url(/themes/xartropics/images/home/navbar-bg.png) no-repeat scroll center right;
    height: 60px;
}
div#header_whatis, div#header_user {
    float: left;
    width: 37%;
	margin: 0 20px 0 10px;
	_height: 90px;
	min-height: 90px;
}
div#header_rand {
	float: left;
	_height: 90px;
	min-height: 90px;
	width: 35%;
}
div#header_release {
	_height: 90px;
	min-height: 90px;
    float: right;
    width: 20%;
}
div#header_release li {
	margin: 0 0 .5em 0;
}
