html, body {
    margin: 0;
    padding: 0;
    background-color: #FEFDFD;
}
a img {
    border: none;
}

/* Basic font styles */
* {
    font: 12px/1.5em Helvetica, Arial, sans-serif;
    color: #18284E;
    color: #582A00;
}
h1, .xar-mod-head .xar-mod-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #B63900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;/* 
    background-color: #F1FBFF;
    background-color: #D1EFF8; */
    border-bottom: 2px dotted #7F95D7;
    padding: 4px;
    margin-top: 0;
    display: block;
}
h2 {
    font-size: 14px;
    font-weight: bold;
    color: #B63900;
    letter-spacing: 1px;
    margin: 2.25em 0 1.5em;
}
h3 {
    font-size: 13px;
    font-weight: bold;
    color: #B63900;
}
h4 {
    font-size: 12px;
    font-weight: bold;
    margin: .7em 0 0;
}
legend {
    font-size: 13px;
    font-weight: bold;
    color: #B63900;
}
a:link {
    color: blue;
    color: #4066FF;
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:visited {
    color: purple;
    color: #663399;
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:hover {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid;
}
a:active {
    color: red;
    border-bottom: 1px solid;
}

/* General used mark-up */
fieldset {
    margin-bottom: 1.5em;
    border: 1px solid #D9C78E;
}
.seperator {
    clear: both;
    visibility: hidden;
}

/* Styling the top level blockgroups */
#iceBg {
    position: fixed;
    top: -10px;
    right: -60px;
    z-index: 10;
}
input, button, textarea {
    position: relative;
    z-index: 11; /* so they're always in front of the background-image, just for the sketch */
    background-color: transparent;
}
input:focus, button:focus, textarea:focus {
    background-color: #FEFDFD;
}
#iceNavGlobal a, #iceContent a {
    position: relative;
    z-index: 20;
}
#iceHeader {
    height: 36px;
    margin: 29px 0 0;
    border: 10px solid #384890;
    border-width: 10px 0;
    padding: 12px 24px 12px 36px;
    background-color: #C7EFFA;
    position: relative;
    z-index: 5;
}
#iceHeader #iceLogo {
    display: block;
    position: absolute;
    top: -27px;
    left: -36px;
    z-index: 30;
}
#iceHeader #iceSlogan {
    padding-top: 11px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #384890;
    font-style: italic;
    letter-spacing: 6px;
}
/* variant 1 */
#iceHeader {
    border-color: #AB5112; 
    background-color: #D9C78E;
}
#iceHeader #iceSlogan {
    position: relative;
    z-index: 20;
    color: #AB5112;
}
/* variant 2 */
#iceHeader {
    border-color: #761A02; 
    background-color: #AB5112;
}
#iceHeader #iceSlogan {
    color: #D9C78E;
}
/* variant 3 */
#iceHeader {
    border-color: #613906;
    background-color: #AE4E06;
}
#iceHeader #iceSlogan {
    color: #E7C04B;
}
/* variant 4 */
#iceHeader {
    border-color: #582A00;
    background-color: #B63900;
}
#iceHeader #iceSlogan {
    color: #EBB612;
}

#iceNavGlobal {
    float: right;
    width: 22%;
    margin: 60px 0 4.5em 4.5em;
    border-bottom: 10px solid #384890;
    border: 2px dotted #7F95D7;
    border-width: 2px 0;
    padding-bottom: 2.1em;
    background-color: #D1EFF8;
}
#iceContent {
    min-height: 40em;
    margin: 0 22% 0 0;
    padding: 145px 6em 2.25em 6em;
    border-right: 1px solid #7F95D7;
    position: relative;
    top: -109px;
}
/* #iceNavModule {
    min-height: 2.25em;
    background-color: #F1FBFF;
} */
#iceFooter {
    clear: left;
    border-top: 10px solid #582A00;
    padding: .75em 4.5em;
    position: relative;
    top: -109px;
}
#iceFooter #iceFooterXar {
    text-align: center;
}

/* iceNavGlobal block styling */
#iceNavGlobal h2 {
    margin: 0 .75em;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #7F95D7;
}
#iceNavGlobal h2 span {
    background-color: #D1EFF8;
    font: inherit;
    color: inherit;
    padding: 0 .3em;
}
/* 
#iceNavGlobal .xar-blocksDefault:first-child h2 {
    margin-top: .3em;
} */
#iceNavGlobal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#iceNavGlobal li {
    margin: 0;
    padding: 2px 0;
}
#iceNavGlobal li h4 {
    padding-left: .75em;
    letter-spacing: 2px;
    color: #384890;
    color: #582A00;
}
#iceNavGlobal li li {
    padding-left: .75em;
}
#iceNavGlobal li li ul {
    padding-top: 1em;
}
#iceNavGlobal li li li {
    padding-left: 1.2em;
    border-top: 1px dotted #7F95D7;
}
#iceNavGlobal li li li a {
    position: relative;
    top: -1em;
    background-color: #E7F8FD;
    padding-left: .3em;
/*     display: block; */
}
#iceNavGlobal li.xar-menu-item-current {
    background-color: #F1FBFF;
    background-color: #E7F8FD;
    border: 1px dotted #7F95D7;
    border-width: 1px 0;
    padding-top: 1px;
    padding-bottom: 1px;
}

#iceNavGlobal li.xar-menu-item-current > a {
    color: #B63900;/* 
    font-weight: bold; */
}
#iceNavGlobal hr {
    width: 90%;
    height: 2px;
    margin: 3em auto -.8em;/* 
    background-color: #7F95D7; */
    border-bottom: 1px dotted #7F95D7;
    border-width: 0 0 1px 0;
}/* 
#iceNavGlobal .xar-blocksDefault:first-child hr {
    display: none;
} */
#iceNavGlobal a:link, #iceNavGlobal a:visited {
    border: 0;
}

#iceNavGlobal a:hover, #iceNavGlobal a:active {
    border-bottom: 1px solid;
}

/* iceContent block styling */
#iceContent p {
    margin: 0 0 .75em 1.5em;
}

/* Styling commerce specific */
.xar-modCommerceIncReference-data .colLeft {
    float: left;
    width: 48%;
}
.xar-modCommerceIncReference-data .colRight {
    float: left;
    width: auto;
}

/* Specific css for things inside div.ice-menu */
.ice-menu ul {
    float: left; /* Makes for a horizontal organisation */
    cursor: pointer;
}

.ice-menu ul > li {
    color: blue;
}

.ice-menu li { background-image: none;}
.ice-menu li ul {display: none;} 
.ice-menu li:hover > ul {
    display: block; 
    position: absolute;
    background-color: white;
    border: thin solid black;
}   

/* For the option “Debug Templates by Showing Variables Available” */
pre {
    background-color: #EEE;
    border: 1px solid #000;
    margin: .5em;
    padding: .5em;
    font-family: monospace;
    overflow: auto;
}

/* van marcel uit Xaraya Classic */
.ice-itemselector:after {
    content: url('/themes/Xaraya_Classic/images/icon_info.gif');
}

.ice-itemselected:after {
    content: url('/themes/Xaraya_Classic/images/icon_arrow_right.gif');
}

.ice-itemselector:hover {
    background-color: lightgray;
    cursor: pointer;
}

.ice-itemselected {
    background-color: red;
}

.ice-pager {
    text-align: center;
}

#ice-pager-statusline  {
    font-size: 0.8em;
}

/* Specific css for things inside div.ice-menu */
.ice-menu ul {
    float: left; /* Makes for a horizontal organisation */
    cursor: pointer;
}

.ice-menu ul > li {
    color: blue;
}

.ice-menu li { background-image: none;}
.ice-menu li ul {display: none;} 
.ice-menu li:hover > ul {
    display: block; 
    position: absolute;
    background-color: white;
    border: thin solid black;
}    
