.docs_displaytitle {
    height: 1px;
    font-family: "Futura Condensed","Tahoma Bold",futura,"Franklin Gothic Bold",sans-serif;
    }
.docs_summarytitle {
    height: 1px;
    }
.newssummary_title {
    height: 1px;
    }
.news_displaytitle {
    height: 1px;
    }
body {
	z-index: 0;
	position: absolute;
}
#outerwrapper {
	height: 1px;
}
#innerwrapper {
}
.roundblock {
	height: 1px;
}
#footer {
	height: 1px;
}