div#header {
    min-height: 107px;
    _height: 107px;
    background: #7DD1F0 url(/themes/xartropics/images/inside/header_bg.png) repeat-x scroll bottom left;
}
div#header_logo {
    min-height: 107px;
    _height: 107px;
    background: transparent url(/themes/xartropics/images/inside/logo.png) no-repeat scroll bottom left;
	position: relative;
}
div#header_content_wrap {
    margin: 0 20px 0px 220px;
    padding: 25px 0 10px 0;
	_zoom: 1;
}
div#header_content {
/*    height: 130px; */
    background: #fff url(/themes/xartropics/images/inside/head_bg.png) repeat-x scroll bottom left;
}
div#header_tlcorner {
    height: 10px;
    font-size: 0;
    background: transparent url(/themes/xartropics/images/inside/header-box.gif) no-repeat scroll top left;
}
div#header_trcorner {
    height: 10px;
    margin-left: 50%;
    font-size: 0;
    background: transparent url(/themes/xartropics/images/inside/header-box.gif) no-repeat scroll top right;
}
div#header_blcorner {
    height: 10px;
    font-size: 0;
    background: transparent url(/themes/xartropics/images/inside/header-box.gif) no-repeat scroll bottom left ;
	clear: both;
}       
div#header_brcorner {
    height: 10px;
    margin-left: 50%;
    font-size: 0;
    background: transparent url(/themes/xartropics/images/inside/header-box.gif) no-repeat scroll bottom right;
}
a#head_link {
    display: block;
    width: 110px;
    height: 89px;
    text-indent: -512pt;
	position: absolute;
	bottom: 9px;
	left: 55px;
}
div#navbar {
	clear: both;
    height: 60px;
    background: transparent url(/themes/xartropics/images/inside/navbar-lead.png) no-repeat scroll center left;
}
div#navbar_inner {
	margin: 0 0 0 235px;
    background: transparent url(/themes/xartropics/images/inside/navbar-bg.png) no-repeat scroll center right;
    height: 60px;
}

