body {
    color: #544E41;
    background-color: #fff;
    font: 10pt Arial, Verdana, sans-serif;
    background: #fff url(/themes/xartropics/images/inside/header_bg.png) repeat-x;
    padding: 0;
    margin: 0;
}
div#header {
    height: 167px;
    background-image: url(/themes/xartropics/images/inside/logo.png);
    background-repeat: no-repeat;
}
div#header_content_wrap {
    margin: 0 10px 0 220px;
    padding-top: 25px;
    width: auto;
}
div#header_content {
    height: 82px;
    background-image: url(/themes/xartropics/images/inside/head-bgbr.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
div#header_contentinner {
    background-image: url(/themes/xartropics/images/inside/head-bgtl.gif);
    background-position: top left;
    background-repeat: no-repeat;
    height: 62px;
}
div#header_trcorner {
    height: 15px;
    background-image: url(/themes/xartropics/images/inside/head-bgtr.png);
    background-position: top right;
    background-repeat: no-repeat;
    font-size: 0;
    margin-bottom: -5px;
	position: relative;
}
div#header_blcorner {
    height: 20px;
    background-image: url(/themes/xartropics/images/inside/head-bgbl.png);
    background-position: top left;
    background-repeat: no-repeat;
    font-size: 0;
}
a#head_link {
    display: block;
    width: 108px;
    height: 87px;
    float: left;
    text-indent: -512pt;
	position: absolute;
	top: 10px;
	left: 56px;
}
div#navbar {
    height: 50px;
    background-image: url(/themes/xartropics/images/inside/navbar-bgbr.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
div#navbar_inner {
    background-image: url(/themes/xartropics/images/inside/navbar-bgtl.gif);
    background-position: top left;
    background-repeat: no-repeat;
    height: 30px;
}
div#navbar_trcorner {
    height: 15px;
    background-image: url(/themes/xartropics/images/inside/navbar-bgtr.png);
    background-position: top right;
    background-repeat: no-repeat;
    margin-bottom: -5px;
    font-size: 0;
}
div#navbar_blcorner {
    height: 19px;
    background-image: url(/themes/xartropics/images/inside/navbar-bgbl.png);
    background-position: top left;
    background-repeat: no-repeat;
    font-size: 0;
}

