@import "verticalmenu.css";
/*  Zigmo3 Theme -  www.zwiggybo.com]
    This file last Modified: 5 May 06
/* XARAYA REQUIRED CLASSES [gen_heading] */

body {
    color: #666;
    margin: 10px;
    padding: 0px;
    font-size: 11px;
    min-width:710px;
    font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;   
}

table, td, th, thead, tbody, tfoot, button, input, select, textarea {
    font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height:120%;   
}

a {
    text-decoration: none;
    color: #58657E;
    font-weight: bold;
} 

a:link {}
a:visited {}
a:active {}
a:hover{}
a:link:hover, a:visited:hover {
    color: #F12600;
    text-decoration: underline;
} 

th {
    color: #55627A;
    background-color: #DEE3ED;
}

tfoot {
    font-weight: bold;
    background-color: #cdd5f8;
}

h1 {font-family: helvetica, tahoma, arial, sans-serif;
    font-weight: bold;
    color: Teal;
    font-size: 14px;
}

h2 { font-size: 12px; }

h3 {
    font-size: 120%;
    line-height: 120%;
}

h4 {
    font-size: 110%;
    line-height: 120%;
}

p { line-height: 120%; }

pre {
    font-size: 10px;
    color: green;
    font-family: monaco, courier, monospace;
    padding: 5px;
    border: solid 1px #000;
    background-color: #f0f0f0; 
}

blockquote {
    font-style: italic;
    font-size: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #191970;
    margin: 0 2px 2px 2px;
    background-color: #FFE0D4;
    border: solid 1px #e0e0e0;
    padding: 5px;
    overflow: visible;
}

code {
    color: #191970;
    font-family: monaco, courier, monospace;
}

sup, sub {
    font-size: 9px;
    font-weight: normal;
}

form {
    margin:0;
    padding:0;
}


input {
    font-weight: normal;
    text-indent: 2px;
    border: solid 1px #003780;
}

button {
    border: 1px solid #000;   
}

select {
    font-weight: normal;
}
textarea {
    font-weight: normal;
    text-indent: 2px;
}

checkbox {
    background-color: transparent;
    font-weight: normal;
}

button, input, select, textarea {
    color: #002D80;
    background-color: #F8F8F8;
} 

img { border: 0px; }

ul, li, ol {
    line-height: 100%;
}

h5, h6 {
    color: #191970;
    font-size: 95%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

hr {
    width: 100%;
    color: #c0c0c0;
}
td.xar-norm { }
td.xar-alt { }
.xar-block-head {
    border-bottom: 1px solid #191970;
    color: #191970;
}
.xar-block-title {
    font-weight: bold;
    font-size: 110%;
}
.xar-block-body { }
.xar-block-foot {
    margin-bottom: 5px;
}

/* Right Blocks */ 
.xar-block-head-right {}
.xar-block-title-right {
    font-weight: bold;
    font-size: 110%;
}
.xar-block-body-right {}
.xar-block-foot-right {
    margin-bottom: 5px;
}

/*
topnav block group classes 
-------------------------------------------------------------------------[comment] */
.xar-block-head-topnav { }
.xar-block-title-topnav { }

.xar-block-body-topnav { }

.xar-block-foot-topnav { }

/* Center Blocks */
.xar-block-head-center {
    width: 100%;
}
.xar-block-title-center {
    background-color: inherit;
    font-weight: bold;
}
.xar-block-body-center {}
.xar-block-foot-center {
    width: 100%;
    margin-bottom: 4px;
    border-bottom: 1px solid #A0B8E5;
}

/* Module styles */
.xar-mod-head {
    color: #ffffff;
    background-color: #3366CC;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    border-color: #004A80;
    border-width: 1px;
    border-style: solid;
}

.xar-mod-title {
    font-size: 110%;
    font-weight: bold;
}

.xar-mod-body { }
.xar-mod-foot { }
.xar-alt { background-color: #E7E9F4; }
.xar-accent { background-color: #E7EAF4; }
.xar-alt-outline {
    border-color: #A782BB;
    border-width: 1px;
    border-style: solid;
}
.xar-accent-outline {
    border-color: #82BBA7;
    border-width: 1px;
    border-style: solid;
}
.xar-norm-outline {
    border-color: #8296BB;
    border-width: 1px;
    border-style: solid;
}
.xar-norm { background-color: #FFFFFF; }
.xar-sub { font-size: 80%; }
.xar-error { color: #ff0000; }
.xar-title {
    font-weight: bold;
}
.xar-menu-item {
    font-weight: bold;
}

li.xar-menu-item a {
    padding-left:10px;
}
.xar-menu-subitem {
    padding: 0;
}
ul.xar-menu-section, ul.xar-menu-item, ul.xar-menu-subitem {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #E7EAF4;
}
ul li.xar-menu-section {
    margin-top: 2px;
    border-color: #C7D2E2 #DBDEE2 #DBDEE2 #C7D2E2;
    border-width: 1px;
    border-style: solid;
    font-family: helvetica, arial, verdana, sans-serif;
}
.xar-menu-section li {
    margin: 0 0 1px 0;
}
.xar-menu-section a {
    display: block;
    padding: 1px 0;
    width: 160px;
    color: #003780;
    text-decoration: none;
}
.xar-menu-section h4 {
    padding: 0 5px;
    margin: 1px 5px 5px 5px;
    border-bottom: 1px solid #BA1D00;
}
.xar-menu-section a:hover {
    color: #fff;
    background-color: #8296BB;
    text-decoration: none;
}
.xar-menu-section ul ul li {
    margin: 0 0 1px 10px;
}
.xar-menu-section ul ul a {
    display: block;
    padding: 1px 10px;
    width: 140px;
    color: #fff;
    background-color: #8296BB;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    line-height: 12pt;
    
}
.xar-menu-section ul ul a:hover {
    color: #002C80;
    background-color: #BFD5FF;
    text-decoration: none;
}
li.xar-menu-section-current {
    color: #2C3F58;
    background-color: #B1C2E3;
}
li.xar-menu-item-current {
    color: #2C3F58;
    background-color: #E7EAEE;
}
li.xar-menu-item-current a {
    padding-left: 10px;
    margin-bottom:1px;
}
li li.xar-menu-subitem-current a, li.xar-menu-item-current a {
    color: #4C5056;
    background-color: #C7D2E2;
}
.xar-menu-subitem-current a:before {
    content: "\00BB \0020";
}
div.xar-block-body-topnav li, div.xar-block-body-topnav ul {
    display: inline;
    list-style-type: none;
    margin:0;
    border:0px none;; padding-left:5px; padding-right:5px; padding-top:0; padding-bottom:0
} /*
since topnav group is available by default, we must be able to lay it out
-------------------------------------------------------------------------[comment] */


table#classiccontentarea {
    width: 100%;
    margin: 0;
    border-collapse: separate;
    border-spacing: 3px;
    border-color: #757F8B;
    border-width: 1px;
    border-style: solid;
} /*
this table 'holds' our dynamic content in this theme (not ideal, but..)
-------------------------------------------------------------------------[comment] */

td#leftmenus {
    background-image: url('../images/content_bg.jpg');
    background-repeat: repeat;
    background-position: 0 0
} /*
area occupied by leftblocksgroup 
-------------------------------------------------------------------------[comment] */


/*
notice that we can avoid using explicit width declaration for the above wrappers,
all this is done for the sake of cross-browser compatibility and, at the same time,
to avoid using IE/Win specific hacks for its broken box model 
------------------------------------------------------------------[important note] */

td#rightmenus, td#leftmenus, td#maincontent {
    vertical-align: top;
    width: 180px;
    border-color: #E7EAEE #8296BB #8296BB #E7EAEE;
    border-width: 1px;
    border-style: solid;
} /*
menu and content areas - shared properties for the table cells
-------------------------------------------------------------------------[comment] */

td#maincontent {
    width: auto;
    vertical-align: top;
    background-image: url('../images/content_bg.jpg');
    background-repeat: repeat;
    background-position: 0 0;
/*     border-color: #757F8B; */
/*     border-width: 0 1px 0 1px; */
/*     border-style: solid; */
    padding: 5px
} /*
it is possible to use padding in this case, because width of this container
should be calculated correctly by all modern (and old) browsers (table cell)
-------------------------------------------------------------------------[comment] */


div#footerwrapper {
    padding: 3px;
    margin-top: 0px;
    border-top: solid 1px #003663;
    border-bottom: solid 1px #003663;
} /*
positioning and minimal styling of footer 
-------------------------------------------------------------------------[comment] */

div#footer {
	padding: 3px;
    margin-top: 0px;
    border-top: 1px solid #003663;
    border-bottom: 1px solid #003663;
    position: relative;
    height:auto;
    text-align: center;
    background-image: url('../images/footer_bg.jpg');
    background-repeat: repeat-x;
	 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size: 10px
} /*
footer container itself - watch for the explicit height limitations
-------------------------------------------------------------------------[comment] */



/* MISCELLANEOUS [gen_heading] */
.txttitle {
    font-weight: bold;
    color: #336699;
    text-decoration: none;
}

.sidebtns {
    font-weight: bold;
    color: #336699;
    text-decoration: none;
}

.subhead {
    font-weight: bold;
    color: #60a9f0;
    text-decoration: none;
}

.btns {
    text-decoration: none;
    background-color: #FFD800;
    color: #000000;
    font-weight: bold;
    font-size: 9.5pt;
}

.busbtns {
    text-decoration: none;
    background-color: #85b8ea;
    color: #000000;
    font-weight: bold;
    font-size: 9.5pt;
}

.blk {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.LightUp {
    background-color: #cfe5fa;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.LightDown {
    background-color: #ffffff;
    color: #336699;
    font-weight: bold;
    font-size: 9.5pt;
    text-decoration: none;
}

.formUp { background-color: #e3f1ff; }

abbr, acronym, .help {
    border-bottom: 1px dotted #999;
    cursor: help;
}

/* EXPERIMENTAL RULES - keep them near the bottom [gen_heading] */

div.iewintablefixer {
    width: 100%;
    padding:0;
    margin:0;
} /*
it is a known fact that IE-Windows cannot correctly calculate width of a table in %,
when such table is positioned inside a div without explicit width, so
in order to avoid multiple hacks in this theme we just make sure that 
every container for every potential table has the width specified as 100%.
It is a small price to pay, considering there are only 3 places like this
in the whole theme - leftblocks content and rightblocks, which need to be wrapped
in this _special_ _fixer_ container.. [andyv]
------------------------------------------------------------------[important note] */

/* now for the classes from the other theme for the topnavbar */
.clear {
	clear: both;
}
#skipNav {
	display:none;
}
/* THEME SPECIFIC CLASS */
#topNav li {
	float: left;
	padding: 0px 3px 0px 0px;
	margin: 0px;
}
/* THEME SPECIFIC CLASS */
#topNav li a {
	display: block;
	height: 15px;
	width: 80px;
}
/* THEME SPECIFIC CLASS */
/* adjust the width of the last nav element when the space is changed */
#topNav #blankLink {
	display: block;
	width: 46px;
	height: 15px;
	padding: 0px;
	/* background-color: #C6D4E1; */
}
/* regular state for the links */
/* THEME SPECIFIC CLASS */
#topNav #homeLink a {
	background:  url('../images/home.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #aboutLink a {
	background:  url('../images/about.gif') no-repeat;
}
#topNav #downloadsLink a {
	background:  url('../images/downloads.gif') no-repeat;
}
#topNav #forumsLink a {
	background:  url('../images/forums.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #pictureslink a {
	background:  url('../images/pictures.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #linksLink a {
	background:  url('../images/links.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #articlesLink a {
	background:  url('../images/articles.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #contactLink a {
	background:  url('../images/contact.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #documentsLink a {
	background:  url('../images/documents.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #loginLink a {
	background:  url('../images/login.gif') no-repeat;
}
/* over state, selected state and pre-loaded bg's to prevent flickering in IE5 */
/* THEME SPECIFIC CLASS */
#topNav #homeLink a:hover, #topNav #homeLinkSelected a:link, #topNav #homeLink, #topNav #homeLinkSelected {
	background:  url('../images/home_over.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #aboutLink a:hover, #topNav #aboutLinkSelected a:link, #topNav #aboutLink, #topNav #aboutLinkSelected {
	background:  url('../images/about_over.gif') no-repeat;
}
#topNav #downloadsLink a:hover, #topNav #downloadsLinkSelected a:link, #topNav #downloadsLink, #topNav #downloadsLinkSelected {
	background:  url('../images/downloads_over.gif') no-repeat;
}
#topNav #forumsLink a:hover, #topNav #forumsLinkSelected a:link, #topNav #forumsLink, #topNav #forumsLinkSelected {
	background:  url('../images/forums_over.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #pictureslink a:hover, #topNav #pictureslinkSelected a:link, #topNav #pictureslink, #topNav #pictureslinkSelected {
	background:  url('../images/pictures_over.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #linksLink a:hover, #topNav #linksLinkSelected a:link, #topNav #linkskLink, #topNav #linksLinkSelected {
	background:  url('../images/links_over.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #articlesLink a:hover, #topNav #articlesLinkSelected a:link, #topNav #articlesLink, #topNav #articlesLinkSelected {
	background:  url('../images/articles_over.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #documentsLink a:hover, #topNav #documentsLinkSelected a:link, #topNav #documentsLink, #topNav #documentsLinkSelected {
	background:  url('../images/documents_over.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #contactLink a:hover, #topNav #contactLinkSelected a:link, #topNav #contactLink, #topNav #contactLinkSelected {
	background:  url('../images/contact_over.gif') no-repeat;
}
/* THEME SPECIFIC CLASS */
#topNav #loginLink a:hover, #topNav #loginLinkSelected a:link, #topNav #loginLink, #topNav #loginLinkSelected {
	background:  url('../images/login_over.gif') no-repeat;
}
#topNav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.swap span {
	display: none;
}
/* styles for my userpanel */
.userpanel {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #000;
	position:absolute; 
	top: 20px; 
	right: 20px; 
	padding: 5px; 
	border: solid 1px #3366CC; 
	background-color:#fff;
}
.userpanel a:link, .userpanel a:visited { color: #003663; text-decoration:none; }
.userpanel a:hover, .userpanel a:active { color: #3366CC; text-decoration:none;}

/* styles for my search box */
#zwigsearch {
	border: solid 1px #004A80;
	background: #fff;
	color: #004A80;
}
#zwigsearchsubmit {
	
	display: none;
}
/* button#zwigsearchsubmit {
 display: none;
}
*/
#simplesearch {
	float: left;
	margin-left: 5px;
}
.srchtop {
		margin-left: 5px;
		margin-top: 5px;
}
.bottombar {
	border: solid 1px #003366; 
	background-image:url(../images/bottom_bar_gradient.gif); 
	background-repeat:repeat-x; 
	color: #fff; font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	text-align:center; 
	padding: 3px;
}
.blockoutside {
	border: solid 1px #003366; 
	background: #999; 
	margin-bottom: 5px;
}
.blockheader {
	border: solid 1px #003366;  
	padding: 3px; 
	background-image:url(../images/block_gradient.gif); 
	background-repeat:repeat-x; 
	color: #fff; 
	font-weight: bold;
}
.blockbody {
	border: solid 1px #003366; 
	background: #fff; 
	color: #003366; 
	padding: 5px;
}