/* CSS Document */

div .xarbb-tablewrapper {
background: #fff;
border: solid 1px #008080;
}

div .xarbb-tablewrapper th {
background: #008080;
color: #fff;
/* border: solid 1px #008080; */
}

div.xarbb-tablewrapper table td.forumname {
	background: #f0f0f0;
	
}
div.xarbb-tablewrapper table td.forumname span.xar-title {
font-size: 12px;
font-weight: bold;
}
.lastpost {
background: #f0f0f0;
}
div.xarbb-tablewrapper table td.icon {
background: #e0e0e0;
}
div.xarbb-legendwrapper {
background: #e0e0e0;
}
div.xarbb-noteswrapper {
background: ;
}

div.xarbb-tablewrapper table td.author {
background: #e0e0e0;
}

div.xarbb-tablewrapper table td.message {
background: #f0f0f0;
}

div.xarbb-tablewrapper table td.forumgroup {
/* 	the only way to make this cell be normal sized is to change the 
	template to remove the h4, and make it into a title element 
*/
}