div.irclog {
    font-family: Courier, monospace;
    border: 1px solid #C7B289;
    background-color: #F0E6D0;
    color: #544E41;
    padding: 0;
    font-size: 7pt;
}
div.irclog a {
    font-weight: normal !important;
    white-space: nowrap;
    text-decoration: underline !important;
}
div.irclog-line {
    margin: 0;
    padding: .1em 0 .2em 0;
}
div.irclog-oddline {
    background-color: #FFFFFF;
}
span.irclog-timestamp {
    float: left;
    width: 10em;
    color: #C7B289;
    margin-left: .5em;
}
span.irclog-say {
}
span.irclog-action {
    color: #568A00;
}
span.irclog-notice {
    color: #FF9933;
}
span.irclog-nick {
    color: #00B2DB;
}
div.irclog-wrap {
    margin: 0 .5em 0 11em;
}
div.irclog-wrap:after {
    content: '.';  
    font-size: 0;
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

